body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

  .header {
    background-color: #018A2D;
    text-align: center;
    border: 1px solid black;
    width: 480px;
    height: 75px;
    line-height: 75px;
  }


  .sider {
    background-color: #FCDE03;
    text-align: center;
    border: 1px solid black;
    width: 480px;
    height: 150px;
  }

  .top-middle {
    background-color: #D51C2C;
    text-align: center;
    border: 1px solid black;
    width: 480px;
    height: 125px;
  }

  .bottom-middle {
    background-color: #0E0C0B;
    text-align: center;
    border: 1px solid white;
    width: 240px;
    height: 250px;
    float: left;;
  }

  .wrapper {
    float: left;
  }

  footer {
    background-color: #018A2D;
    text-align: center;
    border: 1px solid black;
    width: 480px;
    height: 80px;
    clear: both;
  }


@media (min-width: 960px){

  * {
    box-sizing: border-box;
    margin: 0 auto;
  }
  
    .header {
      background-color: #018A2D;
      text-align: center;
      border: 1px solid black;
      width: 960px;
      height: 100px;
      line-height: 100px;
    }
  
  
    .sider {
      background-color: #FCDE03;
      text-align: center;
      border: 1px solid black;
      width: 200px;
      height: 600px;
    }
  
    .top-middle {
      background-color: #D51C2C;
      text-align: center;
      border: 1px solid black;
      width: 380px;
      height: 200px;
    }
  
    .bottom-middle {
      background-color: #0E0C0B;
      text-align: center;
      border: 1px solid white;
      width: 240px;
      height: 250px;
      float: left;;
    }
  
    .wrapper {
      float: left;
    }
  
    footer {
      background-color: #018A2D;
      text-align: center;
      border: 1px solid black;
      width: 960px;
      height: 80px;
      clear: both;
    }
  

}
